/* CSS reset */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: "Raleway";
    margin: 0;
    padding: 0;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Global Styles */

body {
    background-image: url("https://source.unsplash.com/4R1YpmGO52I");
    background-size: cover;
    min-height: 100vh;
    padding: 0 20px;
    max-width: 1200px;
    margin: auto;
}

#main-pantry {
    padding-top: 65px;
}

button {
    font-size: 20px;
    color: white;
    padding: 5px 20px;
    cursor: pointer;
    border: 0;
    border-radius: 5px;
    background: -webkit-gradient(linear, left top, right top, from(#11998e), to(#38ef7d));
    background: -webkit-linear-gradient(left, #11998e, #38ef7d);
    background: -o-linear-gradient(left, #11998e, #38ef7d);
    background: linear-gradient(to right, #11998e, #38ef7d);
}

::-webkit-input-placeholder {
    font-size: 18px;
    color: #222121;
    opacity: 1;
}

:-ms-input-placeholder {
    font-size: 18px;
    color: #222121;
    opacity: 1;
}

::-ms-input-placeholder {
    font-size: 18px;
    color: #222121;
    opacity: 1;
}

::placeholder {
    font-size: 18px;
    color: #222121;
    opacity: 1;
}

/* Login Page & Signup Page */

#intro::before,
#signup::before {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    z-index: -1;
    -webkit-filter: blur(3px);
            filter: blur(3px);
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
    background: -webkit-linear-gradient(315deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.75) 1%, rgba(0, 0, 0, 0.1) 100%), url("https://source.unsplash.com/4R1YpmGO52I");
    background: -o-linear-gradient(315deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.75) 1%, rgba(0, 0, 0, 0.1) 100%), url("https://source.unsplash.com/4R1YpmGO52I");
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.75) 1%, rgba(0, 0, 0, 0.1) 100%), url("https://source.unsplash.com/4R1YpmGO52I");
    background-attachment: fixed;
    background-size: cover;
}

#intro,
#signup {
    line-height: 1;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.login-intro {
    margin: auto;
    text-align: center;
}

.login-intro div {
    display: inline-block;
}

.login-intro div h1,
header h1 {
    background: -webkit-gradient(linear, left top, right top, from(#11998e), to(#38ef7d));
    background: -webkit-linear-gradient(left, #11998e, #38ef7d);
    background: -o-linear-gradient(left, #11998e, #38ef7d);
    background: linear-gradient(to right, #11998e, #38ef7d);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.login-intro div h1 {
    font-size: 85px;
    font-family: "Poiret One";
    text-align: center;
}

.login-intro p {
    font-size: 18px;
    color: #FBDD7B;
    text-align: center;
    margin-top: 20px;
    padding: 10px 20px;
    line-height: 1.4;
}

label {
    display: block;
    margin: 6px 0;
}

/* Sign up Form */

.form-section {
    text-align: center;
}

.form-section h2 {
    color: #FBDD7B;
}

.form-section p {
    color: white;
    padding: 5px;
}

form {
    width: 300px;
    margin: auto;
}

#js-login-form input,
#js-signup-form input {
    display: block;
    margin: 10px auto;
    width: 80%;
    padding: 10px;
    border-radius: 2px;
    border: 0;
    background-color: rgba(255, 255, 255, .5);
    font-size: 16px;
}

button[type="submit"] {
    margin-top: 10px;
}

.sign-up {
    margin-top: 12px;
}

.sign-up p {
    display: inline-block;
    font-size: 18px;
}

.sign-up button,
#js-back-to-login {
    background: transparent;
    color: #F0CA4D;
    padding: 0;
}

#create-account {
    font-size: 26px;
    color: #FBDD7B;
    padding-bottom: 0;
}

/* Header */

header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: -webkit-fill-available;
    width: -moz-available;
    font-family: "Raleway";
    z-index: 2;
}

header,
.pantry-items section {
    background: -webkit-linear-gradient(315deg, #ece9e6, #ffffff);
    background: -o-linear-gradient(315deg, #ece9e6, #ffffff);
    background: linear-gradient(135deg, #ece9e6, #ffffff);
}

header h1,
.nav-toggle {
    padding: 12px;
    font-size: 28px;
}

.nav-toggle {
    -ms-flex-item-align: end;
        align-self: flex-end;
    display: initial;
    position: absolute;
    cursor: pointer;
}

.nav-toggle-width {
    width: 100%;
}

.nav-item {
    display: none;
}

.nav-item li {
    display: block;
    padding: 18px 20px;
    cursor: pointer;
}

.nav-item .active {
    background-color: #e2e2e2;
}

body.hasHover .nav-item li:hover {
    background-color: #e2e2e2;
}

.navbar-toggle-show {
    display: block;
}

.navbar-toggle-show li {
    padding: 10px 20px;
    border-top: 1px solid black;
}

/*Pantry Items */

#add-item-container,
#recipe-search,
#js-custom-search-status {
    display: table;
    margin: auto;
    width: -moz-fit-content;
    width: -webkit-fit-content;
    width: fit-content;
    padding: 10px;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    text-align: center;
    border-radius: 5px;
}

#recipe-search {
    padding: 0;
}

#recipe-search h2 {
    padding: 20px 10px;
}

#recipe-search div {
    padding: 10px;
}

#js-add-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 10px;
}

.category-header {
    display: inline;
    font-size: 20px;
    padding: 3px;
}

#js-add-item label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 10px;
}

#js-add-item input,
#js-add-item select {
    -webkit-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
    margin-left: 5px;
    padding: 2px 5px;
    border: 0;
    border-radius: 2px;
    font-size: 16px;
    background-color: white;
}

form select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

#select {
    position: relative;
}

#select::after {
    font-family: 'Font Awesome 5 Free';
    margin-right: 0.5em;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    top: 6px;
    right: 0px;
    color: black;
    content: "\f107";
    font-weight: 900;
    pointer-events: none;
}

#js-add-item button,
#recipe-search button {
    font-size: 18px;
    margin-top: 3px;
    font-weight: bold;
}

.pantry-items {
    padding-top: 20px;
    text-align: center;
    -webkit-columns: auto 250px;
            columns: auto 250px;
    -webkit-column-gap: 20px;
            column-gap: 20px;
}

.pantry-items section {
    page-break-inside: avoid;
    margin-bottom: 15px;
    padding-top: 10px;
    border-radius: 0 10px 0 10px;
    -webkit-column-break-inside: avoid;
            break-inside: avoid;
    width: 100%;
    display: inline-block;
}

.pantry-items ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 10px;
}

section>h3 {
    font-size: 22px;
    text-align: center;
    padding-bottom: 10px;
}

.pantry-items ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 95%;
    margin: auto;
    padding: 10px;
    border-bottom: 2px solid #a3a3a34d;
}

li label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.item-counter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.item-counter button {
    margin: 0px 10px;
    padding: 0;
    font-size: initial;
    width: 25px;
    border-radius: 50px;
    height: 25px;
    font-weight: bold;
}

.pantry-items section:nth-child(5n+1) button {
    background: #324D5C;
}

.pantry-items section:nth-child(5n+2) button {
    background: #46B29D;
}

.pantry-items section:nth-child(5n+3) button {
    background: #F0CA4D;
}

.pantry-items section:nth-child(5n+4) button {
    background: #E37B40;
}

.pantry-items section:nth-child(5n+5) button {
    background: #DE5B49;
}

label input[type="checkbox"] {
    display: none;
    margin-right: 5px;
}

#recipe-search button {
    margin: 10px 5px;
}

#js-custom-search-status {
    display: none;
    margin-top: 10px;
}

/* Recipe List */

#js-recipe-list,
.recipe-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 10px;
}

article {
    width: 100%;
    max-width: 325px;
    margin: 5px 0;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    font-size: 16px;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

article h3 {
    padding: 10px;
    min-height: 52px;
}

article img {
    width: 100%;
    border-radius: 0 0 5px 5px;
}

.ingredients-used-info {
    position: absolute;
    bottom: 2px;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    border-radius: 0 0 5px 5px;
}

body.hasHover .ingredients-used-info {
    visibility: hidden;
    opacity: 0;
    height: 0;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.ingredients-used-info p {
    padding: 5px 10px;
}

body.hasHover article:hover .ingredients-used-info {
    visibility: visible;
    opacity: 1;
    height: 60px;
}

/* Single Recipe Info */

#js-recipe-details {
    background: white;
    border-radius: 5px;
    margin-bottom: 10px;
}

#recipe-header img {
    max-width: 100%;
}

#recipe-header p {
    padding: 3px 5px;
}

#recipe-saved {
    text-align: center;
    padding: 10px;
}

#recipe-saved button:disabled {
    background: grey;
}

/* Single Recipe Ingredient List */

.list-container {
    margin-top: 20px;
}

.list-container h3 {
    text-decoration: underline;
}

.list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 15px;
}

#js-ingredient-list li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-preferred-size: 33%;
        flex-basis: 33%;
}

li img {
    max-width: 100%;
    height: 100%;
}

li p {
    display: inline-block;
    margin-left: 10px;
}

/* Single Recipe Instruction List */

#js-instruction-list {
    max-width: 600px;
    list-style: decimal;
    padding: 0 25px 15px;
}

#js-instruction-list li {
    padding: 10px 0;
}

/* Recipe Box */

.recipe-list {
    margin-top: 65px;
}

.recipe-list article {
    overflow: visible;
}

article button {
    position: absolute;
    top: -10px;
    right: -11px;
    border-radius: 50px;
    width: 30px;
    height: 30px;
    padding: 0;
    background: #e7dfdf;
    font-size: initial;
    color: #000;
}

body.hasHover article button {
    display: none;
}

body.hasHover article:hover button {
    display: block;
}

section h2 {
    font-size: 18px;
    padding: 10px 5px;
}

#js-ingredient-list div {
    width: 60px;
    height: 60px;
    text-align: center;
}

/* Media Queries */

@media all and (min-width: 480px) {
    body {
        background-attachment: fixed;
    }
    /* Navigation Bar */
    header {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .nav-toggle {
        display: none;
    }
    .nav-item {
        display: initial;
    }
    .nav-item li {
        display: inline-block;
    }
    /*Login Screen - Media query*/
    #login {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    #intro,
    #signup {
        height: auto;
        max-width: 500px;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        position: relative;
        overflow: hidden;
        border-radius: 10px;
        padding: 50px 15px;
    }
    #intro::before,
    #signup::before {
        -webkit-filter: blur(10px);
                filter: blur(10px);
        -webkit-transform: none;
            -ms-transform: none;
                transform: none;
    }
    /* Recipe Search */
    #recipe-search {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin-top: 5px;
    }
    #recipe-search button {
        margin-top: 3px;
        margin-bottom: 3px;
    }
    /* Single Recipe */
    #js-recipe-details {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        margin-left: auto;
        margin-right: auto;
        max-width: 700px;
    }
    #recipe-header {
        max-width: 556px;
    }
    #add-item-container h2 {
        font-size: 24px;
        padding: 15px 5px;
    }
}